body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 1200px;
  overflow-x: hidden;
}

/* Nav */
.navbar {
  background: transparent;
}
.brand {
  margin: 20px 60px;
}
.navbar-brand {
  width: 60px;
}
.judul-logo {
  font-weight: 700;
}
.nav-link {
  margin-right: 20px;
  border-radius: 10px;
}
.nav-link:hover {
  background: #3fccf3;
  border-radius: 10px;
}

/* Container */
.container {
  background-image: linear-gradient(
    to right bottom,
    #3abbff,
    #26c1fa,
    #1ec6f4,
    #27cbed,
    #39cfe5
  );
  min-height: 580px;
  min-width: 100%;
}
.jumbo {
  width: 280px;
  margin: 20px auto;
  display: block;
  position: absolute;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(-0px, -0px);
  }
}
.judul {
  margin-top: 200px;
  margin-left: 40px;
  font-weight: 800;
  padding: 20px;
  font-size: 50px;
}
.text-judul {
  margin-left: 40px;
  padding-left: 20px;
}
.container .img {
  width: 380px;
  margin-top: 160px;
  margin-left: 100px;
}

/* About */
.about {
  margin: 120px 60px;
}
.about h1 {
  margin: 0 20px;
  font-weight: 700;
  font-size: 36px;
}
.about p {
  text-align: justify;
  margin: 20px 20px;
  color: rgb(102, 102, 102);
  padding-right: 60px;
  font-size: 20px;
}

/* Founder */
.founder {
  margin-top: 80px;
}
.founder .card {
  border: none;
}
.founder .card h5 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
.founder .card p {
  text-align: center;
  margin: 0;
  font-size: 12px;
}
.founder .img {
  background-color: rgb(240, 240, 240);
  width: 260px;
  height: 260px;
  border-radius: 100%;
  margin: 20px auto;
  object-fit: cover;
  object-position: center;
}

/* Footer */
.footer {
  margin-top: 140px;
  background: rgb(21, 178, 228);
  min-height: 210px;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 30px 20px;
}
.footer h3 {
  font-size: 29px;
  font-weight: 600;
}
.footer p {
  font-size: 16px;
}
.footer .icon {
  position: relative;
  margin-top: 20px;
  width: 50px;
}

@media (max-width: 575.98px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  /* Navbar */
  .navbar {
    background: transparent;
  }
  .brand {
    margin: 0;
  }
  .navbar-brand {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  .judul-logo {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }
  .navbar-nav {
    margin-top: 10px;
    padding: 10px 10px;
    background-image: linear-gradient(
      to right bottom,
      #3abbff,
      #26c1fa,
      #1ec6f4,
      #27cbed,
      #39cfe5
    );
    width: 100%;
    text-align: center;
  }
  .nav-link {
    margin-top: 10px;
    padding-left: 10px;
    width: fit-content;
    border-radius: 0;
  }
  .nav-link:hover {
    background: rgb(33, 185, 231);
    border-radius: 0;
  }
  .nav-link.active {
    border-bottom: 2px solid white;
  }

  /* Jumbo */
  .container {
    background-image: linear-gradient(
      to right bottom,
      #3abbff,
      #26c1fa,
      #1ec6f4,
      #27cbed,
      #39cfe5
    );
    min-height: 510px;
    width: 100%;
  }
  .jumbo {
    width: 280px;
    margin: 20px auto;
    display: block;
    position: absolute;
  }
  .judul {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    font-size: 30px;
    margin-left: 0;
  }
  .text-judul {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .container .img {
    margin: 60px 20px;
    width: 220px;
    position: absolute;
  }

  /* About */
  .about {
    margin: 120px 0;
  }
  .about h1 {
    margin: 0 20px;
    font-weight: 700;
    font-size: 27px;
  }
  .about p {
    margin: 20px 20px;
    color: rgb(102, 102, 102);
    font-size: 16px;
  }

  /* Founder */
  .founder {
    margin-top: 80px;
  }
  .founder .card {
    border: none;
  }
  .founder .card h5 {
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  .founder .card p {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }
  .founder .img {
    background-color: rgb(240, 240, 240);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px auto;
  }

  /* Footer */
  .footer {
    position: relative;
    margin-top: 140px;
    background: rgb(21, 178, 228);
    width: 100%;
    bottom: 0;
    color: white;
    padding: 30px 20px;
  }
  .footer h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer p {
    font-size: 13px;
  }
}
